html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    background: #F3F3F3 !important;
}
h1,h2,h3,h4,h5{
  color:#152C57;
  font-family: 'Nunito', sans-serif;
  
}
a,span,strong,b,li,p,label{
  font-family: 'Raleway', sans-serif;
  color:#6E7B95 ;
}

* {
  box-sizing: border-box;
}
.color-white{
  color:#ffffff !important;
}
.navbar{
  background: transparent !important;
}
.navbar .nav-item .nav-link{
  color:#6E7B95 !important;
}
.navbar-brand img{
  width:120px !important;
  /* height:60px !important; */
}
.nav-logo{
  width:120px !important;
  /* height:60px !important; */
}
.sympts_container{
  margin-top:40px;
  background:#ffffff;
  padding:30px;
}
.date_holder{
  padding:10px;
}
.sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 50px;
  background-color:   #f2eaea;
}

.connect {
  margin-top:80px;
  padding-top:10px;
  padding-bottom:10px;
  color: red;
  padding:25px;
  text-align: center;
}
.connect h5{
  cursor: pointer;
  color: red;

}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

.connect p{
  padding-top:10px;
  color: #9F72FF !important;
  font-size:18px;
}


.side_nav li {
  width:100%;
  float: left;
  color: #f2f2f2;
  height:50px;
  padding-top:20px;
  text-decoration: none;
  font-size: 17px;
  list-style: none;
  text-align: left;
  margin-left:0;
  margin-right:0;
}




 .margin h6{
  text-transform: uppercase;
  color: #000000 !important;
}
.margin-top{
  margin-top:20px;
}

.real{
  padding:30px;
}
.icon_circle{
  margin-top:15px;
  width: 50px;
  height: 50px;
  background:#F3F3F3;
  border-radius: 50%;
  color: #9F72FF !important;
}
.icon_circle i {
  margin-left:10px;
  padding-top:20px !important;
}
.text-white{
  color:#ffffff !important;
}
.reduced{
  padding:3px;
  width:30px !important;
  height:30px !important;
}
.reduced img{
  height:30px !important;
}

.sorter{
  padding: 10px;;
}
.main_box {
  z-index:-100;
  margin-top: 50px;
  margin-left:360px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.btn-1 {
  
  padding: 10px 16px;
  border:1px solid  #121330;
  cursor: pointer;
  border-radius:6px;
  background:#f2eaea;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active-1, .btn-1:hover {
  background-color: #121330;
  color: white;
}
@media(max-width:760px){
  .sidebar {
  height:inherit !important;
  width: 100%;
  position:relative !important;
  background-color:   #f2eaea;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  }
  .main_box{
    width:100%;
    margin-top: 30px;
    margin-left:0px;
  }
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */